*{
    padding: 0px;
    margin: 0px;
    overflow: hidden;
}  
body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    font-family: 'Lexend Deca', sans-serif;
    background-image: url(../images/blur.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}

.mainContainer{
  margin-left: -400px;
  width: 650px;
  height: 550px;  
  display: flex;
  justify-content: flex-start;
  align-items: left;
  flex-direction: column;
  position: absolute; 
  background-color: #faf3f39c;
  backdrop-filter: blur(5px);
  border-top-left-radius: 25px;
  border-bottom-left-radius: 25px;
  box-shadow: 5px 5px 30px rgba(75, 28, 89, 0.69);

}

.text{
    margin: 45px 0 0 40px;
}
.bigText{
    font-size: 40px;
    line-height: 40px;
}
.smallText{
    padding-top: 10px;
    padding-left: 3px;
    line-height: 23px;
}

.inputs{
    padding: 10px 0 10px 0;
}
.password{
    margin-top: 10px;
}

input.email,.password{
    margin-left: 10px;
    border: 3px solid rgba(215, 208, 2, 0.47);
    border-radius: 10px;
    background: transparent;
    width: 300px;
    height: 35px;

}

input::placeholder{
    font-weight: bold;
    color: #613B58;
    padding: 10px;
}
input:focus{
    outline-style: none;
}

.btn-warning{
    background-color: #8302ab;
    border-style: none;
    border-radius: 10px;
    color: white;
    padding: 10px 75px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin-left: 10px;
    cursor: pointer;
    width: 300px;
    height: 40px;
}

hr{
    background-color: white;
    color: white;
    height: 3px;
    border-style: none;
    border-radius: 16px;
    width: 90px;
}
hr.hr1{
    margin: -10px 0 0 40px;
    padding-bottom: 2px;
}
hr.hr2{
    margin: -5px 0 0 155px;
    padding-bottom: 2px;
}



.bottomText{
    margin: 7px 0 0 40px;
    font-size: 12px;
    font-weight: bold;
}

.signIn{
    color: #7B37A6;
    font-size: 11px;
    margin-left: 195px;
    margin-top: -14px;
    font-family: 'Lexend Deca', sans-serif;
    font-weight: bold;
}

.square {
    position: absolute;
    height: 550px;  
    width: 500px;
    background-color: #F39B5A;
    margin: 100px 0 100px 500px;
    border-radius: 25px;
    z-index: 1;
  }

  .mobileImg{
      position: relative;
      height: 550px;
      width: 700px;
      margin-left: -70px;
  }
  .man{
      margin-top: -30px;
      margin-left: -490px;
      height: 390px;
      width: 760px;
      z-index: 1;
      position: absolute;

      animation: bounce 1s infinite ease-out alternate;
    }
      @keyframes bounce{
    0%{
        transform: translateY(0);
    }
    100%{
        transform: translateY(-40px);
    }
}
 

