<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	  xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>CodePen - CSS Glassmorphism Button Hover Effects | Glass Morphism</title>
	<link rel="stylesheet" href="b.css">

</head>
<body>
<!-- partial:index.partial.html -->
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Glassmorphism button</title>
</head>

<body>
	<div class="container">
		<div class="btn"><a th:href="home.html" >Read more 2</a></div>

	</div>		
</body>
<!-- partial -->
  
</body>
</html>
