<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Score Board</title>
    <link rel="stylesheet" th:href="@{/css/ress.css}">
</head>

<body>

<div th:insert="navbar.html :: navbar"></div>

<main class="table">
    <section class="table__header">
        <h1>User's QUizzo Score🫣 </h1>
        <div class="input-group">
            <input type="search" placeholder="Search Data...">
            <img th:src="@{/images/search.png}" alt="">
        </div>

    </section>
    <section class="table__body">
        <table>
            <thead>
            <tr>
                <th> UserName<span class="icon-arrow">&UpArrow;</span></th>
                <th> Score <span class="icon-arrow">&UpArrow;</span></th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="score : ${sList}">
                <td th:text="${score.username}"></td>
                <td>
                    <p class="status delivered" th:text="${score.totalCorrect}"/>
                </td>
            </tr>

            </tbody>
        </table>
    </section>
</main>
</body>

</html>